<div class="py-5 text-white opaque-overlay" style="background-image: url(&quot;https://pingendo.github.io/templates/sections/assets/cover_restaurant.jpg&quot;);">
   <div class="container">
     <div class="row">
       <div class="col-md-3"></div>
       <div class="col-md-6">
         <h1 class="text-gray-dark">Cold or Hot ?</h1>
         <p class="lead mb-4">Find the temperature of any city in click of a button</p>
         <form class="" method="post" action="https://formspree.io/">
           <div class="form-group"> <label>Enter City&nbsp;</label>
             <input type="email" name="email" class="form-control" placeholder="City Name"> </div>
           <button type="submit" class="btn btn-primary">Search</button>
         </form>
       </div>
     </div>
   </div>
 </div>
