<div class="py-2" *ngIf="movieList">
  <div class="py-2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center display-3 text-primary">Search Results:</h1>
        </div>
      </div>
    </div>
    <div>
      <div class="row">
        <div class="col-md-4 card-deck" *ngFor="let movie of movieList">
          <div class="card my-3 mx-4">
            <div class="card-body">
              <img src={{baseUrl}}{{movie.poster_path}} width="100%" />
                <h5 class="card-title mt-3">{{movie.original_title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{movie.overview}}</h6>
                <p class="card-text">
                  Votes: {{movie.vote_average}}
                  <br /> Release Date: {{movie.release_date}}
                </p>
              <div class="card-footer">
                <a routerLink="/movie" class="card-link" (click)="addFav(movie)">Add to favorite</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>