<!--
<div class="">
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-12 align-self-center text-center p-4 text-primary bg-danger">
        <h3 class="my-2 text-white">{{restName}}</h3>
        <p class="text-white">{{restAdd}}</p>
        <div class="row">
          <div class="col-md-8">
            <p class=" text-white">Votes: {{votes}}</p>
          </div>
          <div class="col-md-4">
            <p class=" text-white">Cost for two: {{cost}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <a class="btn btn-primary" href="#">Add to Fav</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->
