<div class="py-5 text-white bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-md-7 text-md-left text-center align-self-center my-5">
        <h1 class="display-1">Getting Bored?</h1>
        <p class="lead">Search for any movie for your entertainment right now!</p>
        <form class="form-inline">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter movie name" size="50" [(ngModel)]="query"  name="searchKeywrd"> </div>
        </form>
        <br />
        <a class="btn btn-lg btn-primary mx-1" (click)="getData()">Search</a>
      </div>
      <div class="col-md-5 pt-5">
        <br>
        <div class="embed-responsive embed-responsive-4by3  rounded">
          <iframe width="854" height="480" src="https://www.youtube.com/embed/t9QePUT-Yt8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
